*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
	display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 16pt;
    padding: 10px 20px;
    color: black;
    outline: none;
}

div#corpo-form{
    width: 500px;
    margin: 50px auto 0px auto;
}
div#corpo-form-msg{
    width: 500px;
    margin: 20px auto 0px auto;
}
div#corpo-form h1{
    text-align: center;
    padding: 20px;
}
div#corpo-form-msg h1{
    text-align: center;
    padding: 20px;
}

input[type=submit]{
	display: block;
	width: 442px;
}
input[type=submit]:hover{
	background-color: gray;
}
h3{
    text-align: center;
    padding: 20px;
    font-size: 14pt;
}